@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
*{
     box-sizing : border-box;
}
img{
     display: block;
     width: 100%;
}
a{
     display: block;
     color: #00B7D3;
}
body{
     font-family: 'PT Sans', Arial sans-serif;
     color: #0B1942;
     margin: 0px 0px;
}
hr{
     border-color: gray;
}
.nav-wrapper{
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 108px;
     background-color: #7DDFE8;
}
.logo{
     display: flex;
     width: 100px;
     height: 108px;
     /*padding: 5px;*/
}
.logo > img{
     width: 100px;
     padding: 10px;
     background-color: red;
}
.nav-bar{
     display: flex;
     flex-direction: column;
     flex-basis: 100%;
     text-align: center;
}
.nav-bar a{
     color: #fff;
     /*height: 33%;*/
     /*flex: 1 100%;*/
     /*text-align: center;*/
     text-decoration: none;
     line-height: 33px;
}
.home{
     background-color: #00A5BF;
     height: 33.33%;
}
.calendar{
     background-color: #00B7D3;
     height: 33.33%;
}
.join{
     background-color: #00D5E7;
     height: 33.33%;
}
.heading h2{
     font-family: 'PT Sans';
     font-size: 24px;
     font-weight: lighter;
     margin: 10px 20px;
}
.subheading{
     font-size: 24px;
     font-weight: lighter;
     background: #0B1942;
     color: #fff;
     padding-left: 20px;
     margin: 10px 20px;
}
.article h2{
     margin: 10px 20px;
     font-size: 24px;
     font-weight: lighter;
}
.article p{
     margin: 10px 20px;
     font-size: 12px;
     font-weight: lighter;
     line-height: 1.2;
}
.content-body-flex{
     display: flex;
     flex-direction: column;
}
.main-section{
     background: #0B1942;
     display: flex;
     flex-direction: column;
     padding: 10px;
}
.featured-film{
     background: #0B1942;
     display: flex;
     flex-direction: column;
     padding: 10px;
     padding-bottom: 0px;
}
.featured-film h1{
     color: white;
     font-weight: lighter;
     margin-left: 20px;
}
.up-next-feature-film{
     background-color: #e2e2e2;
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding: 10px;
     padding-top: 20px;
}
.up-next-feature-film img{
     width: 50%;
     height: 50%;
}
.film-title{
     color: #00d5e7;
     padding-bottom: 10px;
     font-size: 1.5em;
}
.up-next-feature-film div{
     padding-left: 10px;
     padding: 10px;
     font-size: smaller;
}
.up-next-feature-film div h4{
     margin: 0;
}
.up-next-feature-film-list ul{
     padding-left: 25px;
     margin-top: -10px;
}
.up-next-feature-film-list li {
     list-style-type: circle;
}
.film-grid-container{
     margin-top: -3px;
     display: flex;
     flex-wrap: wrap;
     background-color: #0b1942;
     padding: 30px 10px;
}
.film-grid-container-block{
     display: flex;
     flex-flow: row wrap;
     background-color: #e2e2e2;
}
.grid-item{
     background-color: #e2e2e2;
     flex: 0 1 50%;
     padding: 10px;
}
.img-container img{
     width: 100%;
     height: 80%;

     /*temp styling*/
     border: 2px dashed grey;
}
.img-container{
     font-size: 3.7vw;
     padding-bottom: 0px;
}
.movie-link{
     font-size: 3.7vw;
     padding-bottom: 0px;
}
.main-content{
     background-color: #0B1942;
     color: #fff;
     font-size: 20px;
     font-weight: bold;
}
.main-content-header{
     font-size: 20px;
     font-weight: bold;
     color: #fff;
}
.calendar-table{
     display: table;
     width: 100%;
     padding-bottom: 50px;
}
.tableBody{
     display: table-row;
}
.week{
     border: 1px solid #0B1942;
     display: table-cell;
     background-color: #fff;
     position: relative;
     height: 55px;
}
.date{
     background-color: #0B1942;
     color: #fff;
     height: 30px;
     width: 25px;
     position: relative;
     top: 0;
     left: 0;
     font-size: .5em;
     text-align: center;
     line-height: 25px;
}
.join-form-body{
     margin: 0 10px;
}
.form-info {
     display: block;
}
img.profile-pic {
     border-radius: 50%;
}
textarea, input[type=text], input[type=email], input[type=pwd] {
     border: .5px solid lightgray;
     width: calc(100% - 20px);
     line-height: 2.5em;
     margin-bottom: 10px;
}
input[type=file] {
     margin-left: 10px;
}
.inputBlocks {
     margin-left: 20px;
     margin-top: 5px;
}
.additional-input label {
     margin-top: 5px;
}
.additional-input {
     width: 95%;
     margin-top: 10px;
     height: 60px;
     border: .5px solid darkgray;
}
.join-btn {
     margin: 10px;
}
.submit-btn {
     background-color: #f6005b;
     height: 50px;
     width: 150px;
     line-height: 50px;
     color: #fff;
     border-style: none;
     border-radius: 3px;
     font-size: 14px;
     margin: 22px;
     font-weight: lighter;
}
footer{
     height:100px;
     line-height: 100px;
}
.footer-nav-item{
     display: flex;
     flex-direction: column;
     flex-basis: 100%;
     text-align: center;
}
.footer-nav-bar a{
     color: #fff;
     height: 33%;
     flex: 1 100%;
     text-align: center;
     text-decoration: none;
     line-height: 33px;
}
.copyright{
     background-color: #7DDFE8;
     color: #fff;
     font-size: 12px;
     text-align: center;
     line-height: 45px;
     width: 100%;
}
.copyright p{
     margin-top: 0px;
}
.main-content-calendar {
     background-color: #0B1942;
     color: #fff;
     font-size: 18px;
     font-weight: bolder;
}
.tableBody {
     display: table;
     width: 100%;
     padding-bottom: 50px;
}
.tableRow {
     display: table-row;
}
.tableCell{
     border: 1px solid #0B1942;
     display: table-cell;
     background-color: #fff;
     position: relative;
     height: 50px;
}
.date {
     background-color: #0B1942;
     color: #fff;
     height: 25px;
     position: relative;
     top: 0;
     left: 0;
     font-size:  .5em;
     text-align: center;
}
.highlighted {
     background-color: #f5005b;
}
@media only screen and (max-width: 768px) and (min-width: 545px) {

     .logo {
          display: flex;
          width: 100px;
          height: 100px;
          /* padding: 5px; */
     }

     .nav-wrapper{
          height: 100px;
     }
     .nav-bar{
          flex-flow: row nowrap;
     }
     .nav-bar a {
          height: 100%;
          flex: 1 100%;
          text-align: center;
     }
     .home{
          height: 100%;
          padding-top: 5%;
          flex: 0 1 100%;
     }
     .calendar{
          padding-top: 5%;
          flex: 1 100%;
          height: 100%;
     }
     .join{
          padding-top: 5%;
          flex: 85%;
          height: 100%;
          margin-right: 42%;
     }
     .film-wrapper{
          display: flex;
     }
     .featured-film{
          /*justify-content: space-around;*/
          background: #0B1942;
          display: flex;
          flex-direction: column;
          padding: 10px;
     }
     .up-next-feature-film div{
          font-size: 2em;
     }
     .next-feature-film-list li{
          list-style-type: circle;
          padding-left: 15px;
     }
     .up-next-feature-film {
          justify-content: space-around;
     }
     .film-grid-container-block{
          display: flex;
          flex-flow: row nowrap;
          background-color: #e2e2e2;
     }
     footer{
          display: inline-flex;
          flex-direction: row;
          width: 100%;
          background-color: #7ddfe8;
     }
     .footer-nav-bar {
          display: inline-flex;

          height: 100%;
     }
     .footer-nav-bar a{
          width: 33.3333%;
          height: 100%;
          padding: 33px 33px;
     }

     div.copyright{
          width: 100%;
          height: 100px;
          line-height: 100px;
     }
     .copyright{
          margin: 0px;
     }

     .content-body-flex{
          flex-direction: row;
          flex-wrap: wrap;
          padding: 5px;
     }
     .article{
          flex-basis: calc(33% - 10px);
          margin: 5px;
     }
     .next-feature-film{
          justify-content: space-around;
     }
     .next-feature-film div{
          font-size: 1.5em;
     }
     .grid-item ul{
          font-size: .75em;
          margin-top: -10px;
     }
     .next-feature-film .larger-poster{
          width: 50%;
          height: 100%;
     }
     .films-container{
          flex-wrap: nowrap;
          max-width: 100vw;
          padding: 30px 10px;
     }
     .film-grid-item{
          flex: 0 1 50%;
          background-color: #e2e2e2;
          padding: 10px;
     }
     .tableCell{
          height: 100px;
     }
     .main-content-calendar{
          font-size: 2em;
     }
     .form-info {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 0;
     }
     .profile-section {
          width: 50%;
     }
     .text-fields {
          width: 50%;
     }
     .bullet-blocks {
          display: flex;
          flex-direction: row;
          width: 100%;
          flex-wrap: wrap;
     }
}



@media (min-width: 769px) {
     .content-body-flex {
          flex-direction: row;
     }
     .article {
          font-size: 1em;
     }
     .heading h2 {
          font-size: 1.75em;
          padding-left: 10px;
     }
     .subheading {
          font-size: 1.75em;
          padding: 5px 10px;
     }
     .films-wrapper {
          display: flex;
     }
     .featured-film {
          width: 50%;
     }
     .film-grid-container {
          flex-wrap: wrap;
          width: 50%;
          margin-top: 0px;
          padding-top: 95px;
     }
     .grid-item {
          flex: 0 1 50%;
          font-size: .75em;
     }
     .up-next-feature-film div {
          font-size: .75em;
     }
     .movie-link {
          font-size: 3vh;
     }

     .larger-poster {
          width: 60%;
          height: 100%;
     }
     footer{
          background-color: #7ddfe8;
          display: flex;
          flex-direction: row;
          width: 100%;
     }
     .nav-bar {
          flex-direction: row;
     }
     .nav-bar a{
          flex-direction: row;
          padding: 33px;
          width: 15%;
          height: 100%;
     }
     .footer-nav.home, .footer-nav.calendar, .footer-nav.join {
          width: 30%;
     }
     div.copyright p{
          margin-right: 20px;
          padding: 40px;
          font-size: 1.5em;
          text-align: right;
     }

     .tableCell{
          height: 100px;
     }
     .date{
          height: 35px;
          width: 30px;
          font-size: .75em;
     }
}
